*{
margin:0px;
padding:0px;
}
@font-face{
src:url('Lato-Lig.ttf');
font-family:'LatoLight';
}
@font-face{
src:url('Lato-Bol.ttf');
font-family:'LatoBold';
}
html,body{
height:100%;
}
.home_container{
height:100%;
width:100%;
}
.slide_container{
height:100%;
}
.slide{
height:100%;
width:100%;
overflow:hidden;
}
.header{
height:12%;
width:100%;
overflow:hidden;
}
.first_body{
height:88%;
width:100%;
overflow:hidden;
background:#1fa3ff;
}
.first_body_title{
font-size:33px;
padding:133px 0px;
width:100%;
text-align:center;
font-family:'LatoBold';
color:#fff;
}
.first_body_title_lower{
margin:13px 0px;
font-size:18px;
color:#fff;
font-family:'LatoLight';
}
.first_body_search_input{
display:inline;
}
.first_body_search_input_item{
height:12px;
padding:12px 19px;
font-family:'LatoLight';
font-size:15px;
color:rgba(0,0,0,.32);
border:none;
outline:none;
}
.slide2{
background:#fff;
height:100%;
width:100%;
}
.slide2_how_it_works{
width:100%;
text-align:center;
font-family:'LatoBold';
font-size:35px;
color:rgba(0,0,0,.83);
padding:73px 0px;
}
.slide2_steps{
margin:130px 0px;
width:100%;
text-align:center;
}
.slide2_step_item{

}
.slide2_step_after{
clear:both;
}
.slide2_balls_container{
margin:40px 0px;
padding:0px 92px;
}
.slide2_ball_container{
background:#1fa3ff;
overflow:hidden;
height:320px;
width:320px;
border-radius:50%;
color:#fff;
float:left;
margin-right:82px;
}
.slide2_ball_container:last-child{
margin-right:0px;
}
.slide2_ball_text_container{
font-family:'LatoRegular';
font-size:23px;
color:#fff;
padding:14px 17px;
}

.slide3_top_heading{
font-family:'LatoBold';
font-size:32px;
color:rgba(0,0,0,.83);
padding:52px 0px;
width:100%;
text-align:center;
color:#1fa3ff;
}
.slide3_top_heading_title{
font-family:'LatoBold';
font-size:24px;
color:rgba(0,0,0,.83);
padding:19px 0px;
}
.header_logo{
height:100%;
width:52%;
float:left;
font-family:'LatoBold';
color:#1fa3ff;
font-size:23px;
}
.logo_container{
padding:23px 43px;
}
.header_login{
height:100%;
width:44%;
float:left;
}
.header_login_list_item{
padding:0px 13px;
height:100%;
width:170px;
float:left;
list-style-type:none;
}
.header_login_list_input_item{

} 
.header_login_list_title{
font-size:15px;
font-family:'LatoLight';
color:rgba(0,0,0,.83);
padding:13px 0px;
padding-bottom:8px;
}
.header_login_list_input_item{
font-size:13px;
font-family:'LatoLight';
color:rgba(0,0,0,.83);
padding:3px;
border:1px solid rgba(0,0,0,.23);
overflow:visible;
}
.header_login_list_item_submit{
background:#1fa3ff;
font-family:'LatoLight';
font-size:13px;
border:none;
padding:8px 19px;
color:#fff;
margin-top:34px;
margin-right:12px;
cursor:pointer;
}
.header_login_list_item_signup{
background:#5dd716;
}