header{
width:100%;
height:40px
}
#main-container{
width:100%;
}
#container1{
width:80%;
padding-left:13%
}
#container2{
width:100%;

}
#container3{
width:80%;
padding-left:40px

}
.fieldLabel{
width:12%;
float:left
}
.fieldInput{
width:85%;
float:left;
}

#fname{
width:270px
}

#lname{
width:270px
} 

#email{
width:270px
}

#options{
width:175px
}

#cname{
width:270px
}

.fieldLabel{
padding-top:3px
}

.box1{
margin-bottom:8px
}

.personal-details{
height:30px
}

#container4{
padding-left:40px
}