
@font-face{
src:url('futuratot-demi-webfont.woff');
font-family:'FuturaBook';
}
*{
margin:0px;
padding:0px;
}
header{
width:100%;
height:40px
}
@font-face{
src:url('Lato-Lig.ttf');
font-family:'LatoLight';
}
@font-face{
src:url('Lato-Bol.ttf');
font-family:'LatoBold';
}
a.home_button{
text-decoration:none;
}
input[type="submit"]{
cursor:pointer;
}


#main-container{
width:100%;
}

#container1{
width:100%
}

#container2{
width:80%;
padding-left:100px
}

.fieldset{
width:100%
}

.personal-details{
width:100%
}

.fieldLabel{
width:13%;
float:left
}

.fieldInput{
width:82%;
float:left
}

#pname{
width:270px
}

#pswd{
width:270px
}

@media screen and (min-width:480px) and (max-width:640px){
#container2{
padding-left:50px
}
.fieldLabel{
width:24%;
float:left
}
.fieldInput{
width:70%;
float:left
}

}

@media screen and (min-width:240px) and (max-width:480px){
.header{
width:100%;
height:40px;
background:#1fa3ff;
}
.header_logo{
font-family:'FuturaBook';
font-size:21px;
color:#fff;
padding:3% 34%;
}
.login_list_item{
width:100%;
text-align:center;
margin-top:19px;
}
.login_list_item label{

}
.login_list_item_input{
border:none;
font-family:'LatoLight';
font-size:18px;
color:rgba(0,0,0,.33);
padding:9px 19px;
border-bottom:1px solid #1fa3ff;
outline:none;
width:52%;
}
.login_list_item_button{
background:#1a7bbe;
color:#fff;
font-size:16px;
font-family:'LatoLight';
border:none;
padding:9px 24px;
margin:6% 25%;
}
.mobile_home_button{
background:#1fa3ff;
color:#fff;
font-family:'LatoLight';
border:none;
padding:8px 19px;
font-size:15px;
text-decoration:none;
}
.login_list_item label{
font-family:'LatoBold';
font-size:18px;
}
.add_points_button, .redeem_points_button{
cursor:pointer;
}
#container2{
padding-left:10px
}
.fieldLabel{
width:35%;
float:left
}
.fieldInput{
width:59%;
float:left
}

#pname{
width:200px
}

#pswd{
width:200px
}

}
