header{
width:100%;
height:50px;
clear:both
}
#main-container{
width:100%;
}
#container1{
width:100%;
clear:both
}
#container2{
width:90%;
padding-left:40px;
clear:both
overflow:hidden;
height:50px
}
#container3{
width:40%;
float:left;
overflow:hidden
height:50px
}
#container4{
width:60%;
float:left;
overflow:hidden;
}

.btn1{
margin-right:10px;
display: inline-block;
padding: 10px 25px;
font-size: 12px;
appearance: none;
box-shadow: none;
cursor:pointer
}

#container5{
width:100%;
}

#container6{
width:90%;
padding-left:40px;
height:60px
}

.container7{
width:100%;
height:60px
}

.name_heading{
width:19%;
float:left
}

#img1{
width:70px;
height:50px;
margin-right:11%
}

#name_location{
margin-right:25px
}

#name_date{
margin-right:20px
}

.name_point{
}

.box1{
margin-bottom:15px
}