header{
width:100%;
height:40px
}

#main-container{
width:100%;
}

#container1{
width:100%
}

#container5{
width:100%
}
#container2{
width:70%;
padding-left:25%
}

#container3{
width:45%;
float:left;
border:1px solid green;
margin-bottom:40px;
height:110px;
padding-top:10px
}

.btn1{
padding:0px;
margin:2px 40px;
border:none;
cursor:pointer;
height:30px;
width:80%;
color:white;
border-radius:7px;
text-align:center;
bottom:-15px
}

#btn1_btn1{
background:rgba(59,89,152,1)
}

#btn1_btn2{
background:#cc0000
}

#btn1_btn3{
background:#0033cc
}

#container4{
width:50%;
float:left;
border:1px solid green;
padding-left:100px;
margin-left:160px;
height:140px;
padding-top:40px
}

#btn2_btn1{
padding:0px;
margin:5px;
height:25px;
width:70px;
border-radius:3px;
text-align:center;
border:none;
cursor:pointer;
color:white;
background:rgba(152,152,152,1)
}

.personal-details{
width:100%;
height:20px;
margin-bottom:17px;
padding-left:80px
}

.fieldLabel{
width:16%;
float:left
}

.fieldInput{
width:84%;
float:left
}

#pname{
width:270px
}

#cname{
width:270px
}

.btn2{
padding-left:50px
}

.box1{
padding-top:4px
}

.box2{
}

#container7{
width:100%;
height:40px;
float:left;
padding-left:270px
}

#container6{
padding-left:80px
}